:root {
  --black-color: #030202;
  --white-color: #efefef;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: var(--black-color);
  margin: 10px;
  background-color: ;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  gap: 2%;
}

figure {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}

figCaption {
  background-color: var(--black-color);
  color: var(--white-color);
  position: absolute;
  bottom: 0%;
  width: 100%;
  opacity: 0.7;
}

form label {
  color: var(--white-color);
}

.card-raw {
}

.card {
  border: 1px solid grey;
  height: 200px;
  margin-bottom: 10px;
}

@media (min-width: 400px) {
  .card-raw {
    display: flex;
    gap: 4%;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .card {
    flex-basis: 45%;
  }
}

@media (min-width: 900px) {
  .card {
    flex-basis: 20%;
  }
}
