:root {
  --black-color: #030202;
  --white-color: #efefef;
  --secondary-color: #e8462d;
  --flasgreen-color: #089e79;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: var(--black-color);
  margin: 10px;
  color: var(--white-color);
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  gap: 2%;
}

nav ul li a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: var(--white-color);
}

nav ul li a:hover {
  background-color: var(--secondary-color);
}

figure {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  position: relative;
}

figCaption {
  background-color: var(--black-color);
  color: var(--white-color);
  position: absolute;
  bottom: 0%;
  width: 100%;
  opacity: 0.7;
}

form label {
  display: block;
  margin: 10px;
  color: var(--white-color);
}

form input {
  display: block;
  background-color: #1e1f23;
  border: 1px solid var(--secondary-color);
  color: var(--white-color);
  padding: 2px;
}

input[type="submit"] {
  margin-left: 10px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.card-raw {
}

.card {
  border: 1px solid grey;
  height: 200px;
  margin-bottom: 10px;
}

@media (min-width: 400px) {
  .card-raw {
    display: flex;
    gap: 4%;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .card {
    flex-basis: 45%;
  }

  nav ul {
    justify-content: center;
    gap: 2%;
  }
}

@media (min-width: 900px) {
  .card {
    flex-basis: 20%;
  }
  nav ul {
    justify-content: flex-end;
    gap: 2%;
  }
}
