body {
  margin: 10px;
}

figure {
  max-width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
}

.card-raw {
}

.card {
  border: 1px solid grey;
  height: 200px;
  margin-bottom: 10px;
}

@media (min-width: 400px) {
  .card-raw {
    display: flex;
    gap: 4%;
    flex-flow: row wrap;
    justify-content: flex-start;
  }

  .card {
    flex-basis: 45%;
  }
}

@media (min-width: 900px) {
  .card {
    flex-basis: 20%;
  }
}
